$mygrey: #808080;
$linkColor : #F30034;

.postcontainer {
    width: 100%;
    min-width: 300px;
    margin: auto;
    background-color: #F5F5F5;
    padding: 10px 30px 10px 30px;

    .post {
        
        .postheader, h2 {
            padding-bottom: .7rem;
            border-bottom: 1px solid $mygrey;
        }
        
        .post-date {
            color: $mygrey;
            font-style: italic;
        }
        
        p {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: #000;
            font-size: 16px;
        }
        
        blockquote {
            font-style: italic;
            text-align: center;
        }
        
        blockquote > p {
            color: $mygrey;
        }
        
        a {
            color: $linkColor;
        }
        
        ul {
            list-style: none;
        }

        img {
            display: block;
            margin: 0 auto;
        }
    }
}