.post {
    h1 {
        
    }
    
    p {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    blockquote {
        font-style: italic;
    }
    
    blockquote > p {
        color: #808080;
    }
}